name: Favorites Characters

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

  push:
    branches:
      - main
      - master

jobs:
  generate-character-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Favorites Characters SVG
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.anilist.characters.svg
          token: NOT_NEEDED
          base: ""
          plugin_anilist: yes
          plugin_anilist_sections: characters
          plugin_anilist_limit_characters: 22
